@model AgendaTelefonica.Models.Telefone

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contato.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTelefone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDTelefone }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
